<!-- Header Navigation Right -->
<ul class="nav-header pull-right">
    <li>
        <div class="btn-group">
            <button class="btn btn-default btn-image dropdown-toggle" data-toggle="dropdown" type="button">
                <img src="../assets/img/avatars/avatar.jpg" alt="Avatar">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">Profile</li>
                <li>
                    <a class="js-swal-error" tabindex="-1" href="#"> <i class="si si-user pull-right"></i>Profile</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a tabindex="-1" href="#" id="btn-logout"><i class="si si-logout pull-right"></i>Log out</a>
                </li>
            </ul>
        </div>
    </li>
</ul>
<!-- END Header Navigation Right -->
<!-- Header Navigation Left -->
<ul class="nav-header pull-left" id="header-title"></ul>
<!-- END Header Navigation Left -->
