<!-- Sidebar Scroll Container -->
<div id="sidebar-scroll">
    <!-- Sidebar Content -->
    <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
    <div class="sidebar-content">
        <!-- Side Header -->
        <div class="side-header side-content bg-white-op text-white">
            <span class="h4 font-w600 sidebar-mini-hide">
                <span class="h2 font-w700 text-primary">YMPI</span>
                <span class="h2 font-w300">HRIS</span>
                <span class="h5 text-muted">&nbsp;1.0</span>
            </span>
        </div>
        <!-- END Side Header -->
        <!-- Side Content -->
        <div class="side-content">
            <ul class="nav-main">
                <a id="menu-dashboard" class="nav-menu" route="/dashboard" href=""><i class="si si-speedometer"></i><span class="sidebar-mini-hide">Dashboard</span></a>
                <!-- Employee module group -->
                <li class="nav-main-heading"><span class="sidebar-mini-hide">Karyawan</span></li>
                <a id="menu-karyawan" class="nav-menu" route="/employee" href=""><i class="si si-users"></i><span class="sidebar-mini-hide">Data Karyawan</span></a>
                <a id="menu-divisi" class="nav-menu" route="/division" href=""><i class="si si-layers"></i><span class="sidebar-mini-hide">Data Divisi</span></a>
                <a id="menu-grade" class="nav-menu" route="/grade" href=""><i class="si si-briefcase"></i><span class="sidebar-mini-hide">Data Grade</span></a>
                <!-- Atendance Modul Group -->
                <li class="nav-main-heading"><span class="sidebar-mini-hide">Absensi</span></li>
                <a id="menu-shift-kerja" class="nav-menu" route="/shift" href="#"><i class="si si-calendar"></i><span class="sidebar-mini-hide">Data Shift</span></a>
                <a id="menu-absence" class="nav-menu" route="/absence" href="#"><i class="si si-user-unfollow"></i><span class="sidebar-mini-hide">Data Absensi</span></a>
                <a id="menu-attendance" class="nav-menu" route="/attendance" href="#"><i class="si si-user-following"></i><span class="sidebar-mini-hide">Data Presensi</span></a>
                <!-- <a id="menu-overtime" class="nav-menu" route="/overtime" href="#"><i class="si si-loop"></i><span class="sidebar-mini-hide">Data Lembur</span></a> -->
                <!-- <a id="menu-laporan" class="nav-menu js-swal-error" href="#"><i class="si si-magnifier"></i><span class="sidebar-mini-hide">Laporan</span></a> -->
            </ul>
        </div>
        <!-- END Side Content -->
    </div>
    <!-- Sidebar Content -->
</div>
<!-- END Sidebar Scroll Container -->
