<!-- Sidebar Scroll Container -->
<div id="sidebar-scroll">
    <!-- Sidebar Content -->
    <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
    <div class="sidebar-content">
        <!-- Side Header -->
        <div class="side-header side-content bg-white-op">
            <div class="logo push-15-r"><img src="../assets/img/yamaha-logo-white.png" class="img-responsive center-block"></div>
            </div>
            <!-- END Side Header -->
            <!-- Side Content -->
            <div class="side-content">
                <ul class="nav-main">
                    <a id="menu-dashboard" class="nav-menu" route="/" href="#"><i class="si si-speedometer"></i><span class="sidebar-mini-hide">Dashboard</span></a>
                    <li class="nav-main-heading"><span class="sidebar-mini-hide">Data Master</span></li>
                    <a id="menu-karyawan" class="nav-menu" route="/employee" href="#"><i class="si si-users"></i><span class="sidebar-mini-hide">Karyawan</span></a>
                    <a id="menu-divisi" class="nav-menu" route="/division" href="#"><i class="si si-layers"></i><span class="sidebar-mini-hide">Divisi</span></a>
                    <a id="menu-jabatan" class="nav-menu" route="/position" href="#"><i class="si si-briefcase"></i><span class="sidebar-mini-hide">Jabatan</span></a>
                    <li class="nav-main-heading"><span class="sidebar-mini-hide">Absensi</span></li>
                    <a id="menu-absensi" class="nav-menu js-swal-error" href="#"><i class="si si-check"></i><span class="sidebar-mini-hide">Data Absensi</span></a>
                    <a id="menu-shift-kerja" class="nav-menu" route="/shift" href="#"><i class="si si-book-open"></i><span class="sidebar-mini-hide">Data Shift Kerja</span></a>
                    <a id="menu-kalendar-kerja" class="nav-menu js-swal-error" href="#"><i class="si si-calendar"></i><span class="sidebar-mini-hide">Kalendar Kerja</span></a>
                    <a id="menu-laporan" class="nav-menu js-swal-error" href="#"><i class="si si-magnifier"></i><span class="sidebar-mini-hide">Laporan</span></a>
                </ul>
            </div>
            <!-- END Side Content -->
        </div>
        <!-- Sidebar Content -->
    </div>
    <!-- END Sidebar Scroll Container -->
